{{#if monthly}}
  <p>Today's Date: {{date}}</p>
  <p>Number of days in month: {{numberOfDays}}</p>
  <table>
    <tr>
      <th>Sunday</th>
      <th>Monday</th>
      <th>Tuesday</th>
      <th>Wednesday</th>
      <th>Thursday</th>
      <th>Friday</th>
      <th>Saturday</th>
    </tr>
    {{#each weeks as |week|}}
      <tr>
        {{#each week as |day|}}
          <td>
            {{day.dayOfWeek}}
            {{day.plainDate}}
            {{#if day.events}}
              <strong>Events:</strong>
              {{#each day.events as |event|}}
                {{event.name}}
              {{/each}}
            {{/if}}
          </td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
{{/if}}
