<div class="calendar-container">
  <section class="sidebar">
    <h2 id="title">Weekly Calendar</h2>
    <p>Today's Date: {{date}}</p>
  </section>

  {{#el-weekly-calendar date=date events=events as |days|}}
      <div class="calendar">
        <div class="row">
          <div class="cell title">
          </div>
          {{#each days as |day|}}
            <div class="cell title">
              {{day.dayName}}
              {{day.date}}
            </div>
          {{/each}}
        </div>
      <div class="week">
        <div class="hours">
          {{#each days.firstObject.hours as |hour|}}
            <div>{{hour.formattedHour}}</div>
          {{/each}}
        </div>
        {{#each days as |day|}}
          <div class="day">
            {{#each day.hours as |hour|}}
              <div >
                {{#each hour.events as |event|}}
                  <strong>
                    {{hour.formattedHour}}: {{event.name}}
                  </strong>
                {{/each}}
              </div>
            {{/each}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/el-weekly-calendar}}
</div>
